<!doctype html>
<html>
<head>

  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{settings.favicon | img_url: 'smallicon'}}">

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}

  <!--Libraries-->
  {{ 'jquery.min.js' | asset_url | script_tag }}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<body
  class="font-sans text-black font-normal text-sm"
>

  {% if settings.hide_topbar == false %}
  {% section 'topbar' %}      
  {% endif %}

  <header class="sticky top-0 z-50">
    {% section 'header' %}
  </header>

  {% if settings.hide_marquee == false%}
  {% section 'marquee-announcement' %}  
  {% endif %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  <footer class="bg-stone-100">
    {% section 'footer' %}
  </footer>
  
</body>

</html>
