<!--Breadcrumb-->
{% if section.settings.breadcrumb %}
	{% render 'breadcrumb' %}	
{% endif %}
<!--Breadcrumb-->
<section class="px-4 my-5">
	{% if section.settings.show_title_collection %}
		<h1 class="text-center text-4xl my-4 tracking-widest">
			{{ collection.title | upcase }}
		</h1>
	{% endif %}

	<div>
		<form class="filter-form">
			{%- for filter in collection.filters -%}
				<details class="filter-group">
					<summary class="filter-group-summary">
						<div>
							<span>{{ filter.label }}</span>

							{%- if filter.active_values.size > 0 -%}
								<span>({{ filter.active_values.size }})</span>
							{%- endif -%}
						</div>
					</summary>

					<div class="filter-group-display">
						<div class="filter-group-display__header">
							<span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

							{%- if filter.active_values.size > 0 -%}
								<a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
							{%- endif -%}
						</div>

						{%- case filter.type -%}
							{%- when 'boolean' or 'list' -%}
								<ul class="filter-group-display__list">
									{%- for filter_value in filter.values -%}
										<li class="filter-group-display__list-item">
											<label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
											<input type="checkbox"
												name="{{ filter_value.param_name }}"
												value="{{ filter_value.value }}"
												id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
												{% if filter_value.active -%}checked{%- endif %}
												{% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
											>{{ filter_value.label }}</label>
										</li>
									{%- endfor -%}
								</ul>

								<div class="filter-group-display__submit">
									<input type="submit" value="Apply">
								</div>
							{%- when 'price_range' -%}
								<div class="filter-group-display__price-range">
									<div class="filter-group-display__price-range-from">
										<span>{{ cart.currency.symbol }}</span>

										<input name="{{ filter.min_value.param_name }}"
											id="Filter-{{ filter.min_value.param_name }}"
											{% if filter.min_value.value -%}
												value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
											{%- endif %}
											type="number"
											placeholder="0"
											min="0"
											max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
										>

										<label for="Filter-{{ filter.min_value.param_name }}">From</label>
									</div>
									<div class="filter-group-display__price-range-to">
										<span>{{ cart.currency.symbol }}</span>

										<input name="{{ filter.max_value.param_name }}"
											id="Filter-{{ filter.max_value.param_name }}"
											{% if filter.max_value.value -%}
												value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
											{%- endif %}
											type="number"
											placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
											min="0"
											max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
										>

										<label for="Filter-{{ filter.max_value.param_name }}">To</label>
									</div>
								</div>

								<div class="filter-group-display__submit">
									<input type="submit" value="Apply">
								</div>
						{%- endcase -%}
					</div>
				</details>
			{%- endfor -%}

			<div class="active-filters">
				<a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>

				{%- for filter in collection.filters -%}
					{%- if filter.type == "price_range" -%}
						{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
							<a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
								{%- assign min_value = filter.min_value.value | default: 0 -%}
								{%- assign max_value = filter.max_value.value | default: filter.range_max -%}
								{{ min_value | money }} - {{ max_value | money }} X
							</a>
						{%- endif -%}
					{%- else -%}
						{%- for filter_value in filter.active_values -%}
							<a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
								{{ filter.label }}: {{ filter_value.label }} X
							</a>
						{%- endfor -%}
					{%- endif- %}
				{%- endfor -%}
			</div>
		</form>
	</div>

	{% paginate collection.products by section.settings.number_of_products_per_page %}
		<div class="grid grid-cols-2 gap-4 md:grid-cols-4" id="ProductGridContainer">
			{% for product in collection.products %}
				{% render 'product-card', product: product %}
			{% else %}
				<p>There are no products inside of this collection.</p>
			{% endfor %}
		</div>

		<div class="container mx-auto my-10">
			{% render 'pagination', pagination: paginate %}
		</div>
	{% endpaginate %}
</section>

<script>
		const buttonFilter = document.querySelectorAll('.filter-form input[type="checkbox"]');

		for (let i = 0; i < buttonFilter.length; i++) {

		var url = new URLParse(window.location.href, true);
			console.log(url)
			const element = buttonFilter[i];

			element.addEventListener('change', e => {
				fetch('/collections/{{ collection.handle }}?' + element.getAttribute('name') + '=' + element.getAttribute('value'))
					.then(response => response.text())
					.then(data => {
						let html_div = document.createElement('div');
						html_div.innerHTML = data;
						let html_dom = html_div.querySelector('#ProductGridContainer').innerHTML;
						document.querySelector('#ProductGridContainer').innerHTML = html_dom;
						// update url without refreshing the page 
						history.replaceState(null, null, '?' + element.getAttribute('name') + '=' + element.getAttribute('value'));
					})
					.catch(error => console.error('Error:', error))
					.finally(() => loading = false);
			})

		}
</script>

<style type="text/css">
{% if section.settings.show_second_image %}
	{% for product in collection.products %}
		{% if product.images.size > 1 %}
		.cardImgWrap--{{ product.id }} .imgOne {
			display: block;
		}
		.cardImgWrap--{{ product.id }}:hover .imgOne {
			display: none;
		}
		.cardImgWrap--{{ product.id }} .imgTwo {
			display: none;
		}
		.cardImgWrap--{{ product.id }}:hover .imgTwo {
			display: block;
		}
		{%  endif %}
	{% endfor %}
{% endif %}
</style>

{% schema %}
{
	"name": "Collection",
	"settings": [
		{
			"type": "checkbox",
			"id": "breadcrumb",
			"label": "Show breadcrumb",
			"default": true
		},
		{
			"type": "number",
			"id": "number_of_products_per_page",
			"default": 6,
			"label": "Number of products per page."
		},
		{
			"type": "checkbox",
			"id": "show_title_collection",
			"label": "Show Title Collection",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show Vendor",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_second_image",
			"label": "Show Second Image",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "active_zoom_image",
			"label": "Active Zoom Image",
			"default": false,
			"info": "If you active this option Second Image must be desactivated"
		}
	]
}
{% endschema %}
