<section class="px-4 mt-5">

	{% if section.settings.show_title_collection %}
	<h1 class="text-center text-4xl my-4">{{ collection.title | upcase }}</h1>		
	{% endif %}
	
	{% paginate collection.products by section.settings.number_of_products_per_page %}

	<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
		
		{% for product in collection.products %}
			{% render 'product-card', product: product %}
			{% else %}
				<p>There are no products inside of this collection.</p>
		{% endfor %}
		
	</div>

	{% render 'pagination', pagination: paginate %}
	{% endpaginate %}
	
</section>

<style type="text/css">
{% if section.settings.show_second_image %}
	{% for product in collection.products %}
		{%  if product.images.size > 1 %}
		.cardImgWrap--{{ product.id }} .imgOne {
			display: block;
		}
		.cardImgWrap--{{ product.id }}:hover .imgOne {
			display: none;
		}
		.cardImgWrap--{{ product.id }} .imgTwo {
			display: none;
		}
		.cardImgWrap--{{ product.id }}:hover .imgTwo {
			display: block;
		}
		{%  endif %}
	{% endfor %}
{% endif %}
</style>

{% schema %}
{
	"name": "Template Collection",
	"settings": [
		{
			"type": "number",
			"id": "number_of_products_per_page",
			"default": 6,
			"label": "Number of products per page."
		},
		{
			"type": "checkbox",
			"id": "show_title_collection",
			"label": "Show Title Collection",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show Vendor",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_second_image",
			"label": "Show Second Image",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "active_zoom_image",
			"label": "Active Zoom Image",
			"default": false,
			"info": "If you active this option Second Image must be desactivated"
		}
	]
}
{% endschema %}